In [24]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [25]:
df = pd.read_csv("titanic.csv")
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [26]:
#Rellenamos la edad en null con la media total de edad
df["age"]=df["age"].fillna(df["age"].mean())
df["fare"]=df["fare"].fillna(df["fare"].mean())

In [27]:
#Redondeamos decimales 
df["age"]=df["age"].round()
df["fare"]=df["fare"].round()

In [28]:
df_sex=pd.get_dummies(df["sex"], prefix="sex")
df_embarked=pd.get_dummies(df["embarked"],prefix="emb")
df_titanic=pd.concat([df,df_sex,df_embarked],axis=1)

In [29]:
df_titanic=df_titanic.drop(["sex","embarked","body","home.dest","boat","cabin","ticket","name"],axis=1)

In [30]:
df_titanic.head()

,pclass,survived,age,sibsp,parch,fare,sex_female,sex_male,emb_C,emb_Q,emb_S
0,1,1,29.0,0,0,211.0,1,0,0,0,1
1,1,1,1.0,1,2,152.0,0,1,0,0,1
2,1,0,2.0,1,2,152.0,1,0,0,0,1
3,1,0,30.0,1,2,152.0,0,1,0,0,1
4,1,0,25.0,1,2,152.0,1,0,0,0,1

In [31]:
# features and target
target = 'survived'
features = ['pclass', 'age', 'sibsp','sex_female','emb_C','emb_Q','emb_S']

In [32]:
# X matrix, y vector
X = df_titanic[features]
y = df_titanic[target]

In [36]:
titanic_model = LogisticRegression()
titanic_model.fit(X, y)
accurecy=titanic_model.score(X,y)

/Users/jorge/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [41]:
print("Eficacia del :" + str(round(accurecy*100)) + "%")

Eficacia del :79.0%

In [34]:
import pickle
pickle.dump(titanic_model, open('titanic_model.pkl', 'wb'))